.main-login {
  align-items: center;
  background-image: url('../images/bckgrond.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  font-family: Plus Jakarta Sans , sans-serif;
  height: 640px;
  justify-content: flex-end;
  margin-bottom: 2rem;
  width: 360px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  grid-gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

.form-control {
  border-radius: 20px;
}

.div-login > img {
  margin-bottom: 1rem;
  margin-left: 15px;
}

.div-login {
  background-color: #e6e5e5;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 10px;
  box-shadow: 3px 2px 2px rgb(49, 48, 48);
  height: 45%;
  margin-bottom: 2rem;
  padding: 15px;
  width: 80%;
}

form > button {
  background-color: #fba114;
  border: 2px solid transparent;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.747);
  font-weight: 800;
  margin: 0 auto;
}

form > button:disabled {
  background-color: transparent;
  color: white;
  font-weight: 800;
}
